@tailwind base;
@tailwind components;
@tailwind utilities;
/* Dans globals.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[#0F0F0F] text-white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  [dir="rtl"] {
    direction: rtl;
  }

  [dir="ltr"] {
    direction: ltr;
  }
}
